*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  font-size: 16px;
  background: #fff;
}
a,
ul,
ol {
  text-decoration: none;
  font-style: normal;
}
ul,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
input,
textarea,
button {
  padding: 0;
  border: none;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
}
input {
  font-family: inherit;
  border: none;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}
.link {
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.04em;
  transition: 0.5s linear 0s;
}
.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #4d5ae5;
}
.title-one {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}
.title-two {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}
.title-three {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.title-four {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.text {
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.button {
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  border: none;
  font: inherit;
  color: inherit;
  background: #4d5ae5;
  color: #fff;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*-------- header --------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.header__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  padding: 16px 0;
}
.header__logo--color {
  color: #2e2f42;
}
.header__link {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover,
.header__link:focus {
  color: #404bbf;
}
.header__link--active {
  color: #404bbf;
}
.header__link--active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #404bbf;
}

.header__link--weight {
  font-weight: 500;
}
.header__link--color {
  color: #434455;
}
.header__address {
  font-style: normal;
}
.header__menu {
  display: none;
  /* display: flex;
  gap: 40px; */
}

/*-------- main --------*/

.main {
}

/*-------- section-1 --------*/

.section-one {
  max-width: 320px;
  max-height: 432px;
  margin: 0 auto;
  padding: 72px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/sectionone/mobile-background@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .section-one {
    background-image: url("../images/sectionone/mobile-background@2x.jpg");
  }
}
.section-one .container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
}
.section-one__title {
  max-width: 160px;
  font-size: 36px;
  line-height: 1.11;
}
.section-one__button {
  min-width: 169px;
}
